.mydiv{
    background-color: antiquewhite;
    font-size: large;
    font-family: 'Courier New', Courier, monospace; 
    margin: 10px;
    border: 2px;
    border-color: aqua;
    border-style:solid;
    padding:10px;
}

.score{
    padding-left: 10px;
    color:blue
}